.navbar-brand{
    font-family: 'Balsamiq Sans', cursive;
}
.nav1{
    border: 3px solid black;
}
#nav1{
    background-color: gainsboro;
}
.container-fluid{
   
    margin: 20px;
    width: auto;
}
row{
   
}


#Chicken{
    padding: 15px;
    margin: 10px;
    background-color:gainsboro;
}

#Beef{
    padding: 15px;
    margin: 10px;
    
    background-color:gainsboro;
}

#Sushi{
    padding: 15px;
    background-color:gainsboro;
    margin: 10px;
}

@media(min-width:576px) and (max-width:767px){
    #a{
        margin-right: 20px;
    }
    #b{
        margin-left: 10px;
    }
    #c{
        width:100%;
        position: relative;
        left:12px;
    }
}
@media(min-width:992px) and (max-width:1536px){
    #b{
    margin-left: 10px;
    margin-right: 10px;
}
    #a{
    margin-left: 2px;
}
}